<select (change)="onChange($event.target.value)">
  <option value="allPets" selected="selected">All Pets</option>
  <option value="dog">Dogs</option>
  <option value="cat">Cats</option>
</select>

<div *ngFor="let project of projects | async | genre: filterByGenre"  class="panel panel-default">
  <div class="panel-body">
    <img src={{project.image}} alt="" height="250px"><br>
    <h3>{{project.title}}</h3>
    <h4>${{project.funding}} of ${{project.fundingcomplete}} contributed.</h4>
    <div *ngIf="currentRoute === '/'">
      <button (click)="goToDetailPage(project)">More Details</button>
    </div>
    <div *ngIf="currentRoute === '/admin'">
      <p> {{project.description}}</p>
      <app-edit-project [projectToDisplay]="project"></app-edit-project>
    </div>
    <div *ngIf="currentRoute === '/user'">
      <p> {{project.description}}</p>
      <app-edit-project [projectToDisplay]="project"></app-edit-project>
    </div>
    <div *ngIf="currentRoute === '/contribute'">
      <p> {{project.description}}</p>
      <app-edit-fund [projectToDisplay]="project"></app-edit-fund>
    </div>

  </div>
</div>
