<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Create a Project</h3>
  </div>
  <div class="panel-body">
    <div>

      <div>
        <label>Select the type of animal that your project funds:</label>
        <br>
        <input #newGenre>
      </div>
      <div>
        <label>Project Purpose:</label>
        <br>
        <input #newTitle>
      </div>

      <div>
        <label>Project Description</label>
        <br>
        <textarea #newDescription></textarea>
      </div>

      <div>
        <label>Project Image URL:</label>
        <br>
        <input #newImage>
      </div>
      <div>
        <label>Project Fundraising Goal:</label>
        <br>
        <input #newFunding>
      </div>
      <div>
        <label>Project Fundraising Goal:</label>
        <br>
        <input #newFundingcomplete>
      </div>
      <button (click)="submitForm(newGenre.value, newTitle.value, newDescription.value, newImage.value, newFunding.value, newFundingcomplete.value)">Submit</button>

    </div>
  </div>
</div>


<!-- <form>
  <input type="radio" [(ngModel)]="genre" (click)="itemtype='all'" name="genreoption" value="all" selected="selected">All Pet Types<br>
  <input type="radio" [(ngModel)]="genre" (click)="itemtype='dog'" name="genreoption" value="dog">Dog<br>
  <input type="radio" [(ngModel)]="genre" (click)="itemtype='cat'" name="genreoption" value="cat">Cat<br>
  <input type="radio" [(ngModel)]="genre" (click)="itemtype='hamster'" name="genreoption" value="hamster">Hamsters<br>
</form> -->
