<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Create a Project</h3>
  </div>
  <div class="panel-body">
    <div>

      <div>
        <label>Select the type of animal that your project funds:</label>
        <select #newGenre>
          <option [value]="allPets">All Pets</option>
          <option [value]="dog"> Dogs</option>
          <option [value]="cat"> Cats </option>
        </select>
      </div>
      <div>
        <label>Project Purpose:</label>
        <br>
        <input #newTitle>
      </div>

      <div>
        <label>Project Description</label>
        <br>
        <textarea #newDescription></textarea>
      </div>

      <div>
        <label>Project Image URL:</label>
        <br>
        <input #newImage>
      </div>
      <div>
        <label>Project Fundraising Goal:</label>
        <br>
        <input #newFunding>
      </div>
      <div>
        <label>Project Fundraising Goal:</label>
        <br>
        <input #newFundingcomplete>
      </div>
      <button (click)="submitForm(newGenre.value, newTitle.value, newDescription.value, newImage.value, newFunding.value, newFundingcomplete.value); newGenre.value=''; newTitle.value=''; newDescription.value=''; newImage.value=''; newFunding.value=''; newFundingcomplete.value=''">Submit</button>

    </div>
  </div>
</div>
